.wrapper{
    min-height: 90px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 10px;
    
}
.itemImg{
    width: 70px;
    height: 70px;
}
.itemImg img{
    max-width: 100%;
}

.itemInfo{
    width: 250px;
}
.itemName{
    max-width: 100%;
}
.deleteItemBtn{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}